{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IEEE NYIT MA</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">

    <link href="{% static 'fullcalendar.css' %}" rel='stylesheet' />
    <link href="{% static 'fullcalendar.print.css'' %}" rel='stylesheet' media='print' />
    <script src="{% static 'fullcalendar.min.js' %}"></script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><strong>IEEE NYIT MA</strong></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">about/blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#events">events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#calendar">calendar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">A true home for anyone seeking knowledge and striving to make the world a better place</h1>
              <a href="https://goo.gl/forms/sLhu8V9ztUlDVAqd2" class="btn btn-outline btn-xl js-scroll-trigger">Sign up!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
                <div class="device">
                  <div class="screen">
                    <img src="{% static 'img/dope_logo.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="download bg-primary text-center" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Who are we?</h2>
            <p>NYIT IEEE MA is the IEEE student chapter at NYIT Manhattan campus. We are under IEEE Region 1 which is the home to IEEE organizational units in the north-eastern part of the United States.

            We act as your conduit to give you a glimpse into why you chose to be an engineer. We do that by working on challenging projects and participating in conferences across the country. We don't ask for people to join to just show up, we want colleagues and people who will work with us.</p>
            <div class="badges">
              <a href="mailto:ieeema@nyit.edu:" class="btn btn-outline btn-xl js-scroll-trigger">Get in Touch!</a>
              <a href="https://goo.gl/forms/sLhu8V9ztUlDVAqd2" class="btn btn-outline btn-xl js-scroll-trigger">Register!</a>
            </div>
          </div>
        </div>
      </div>
    </br></br></br></br>
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2>Blog</h2>
            {% for post in posts %}
            <h1 style = "float: left;" class="section-heading">{{ post.title }}</h1>
            </br> </br>
            <p style= "float: left;" >{{ post.text|linebreaksbr|truncatechars:250 }}</p>
              <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-outline btn-sm" style="float: right;">Read the post</a>
            </br></br>
              {% endfor %}
            </br></br></br></br></br></br></br></br>
              <a href="/post_list" class="btn btn-outline btn-sm">Other posts</a>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="events">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Upcoming Events</h2>
          <p class="text-muted">hosted for <strong>Students</strong> by <strong>Students</strong></p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
                <div class="device">
                  <div class="screen">
                    <img src="{% static 'img/pic.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <h3>SuperPi Boy</h3>
                    <p class="text-muted">Learn about the Rasperry PI and join our workshop to turn it into a GameBoy.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <h3>MIDI Drum Kit</h3>
                    <p class="text-muted">Using a MIDI Controller, learn how to create your own sounds with software and understand the hardware.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <h3>MicroMouse</h3>
                    <p class="text-muted">Teams will be formed to create a compact robot to navigate through a maze under a certain amount of time.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <h3>Soldering Workshop</h3>
                    <p class="text-muted">A hands-on workshop that shows beginner and advanced students the techniques on how to solder properly.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <h3>GNU-Linux/Python Workshop</h3>
                    <p class="text-muted">The IEEE R1 Student Conference is an annual student conference where students will be able to network, go to workshops and participate in competitions.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <h3>Region 1 Student Conference</h3>
                    <p class="text-muted">The IEEE R1 Student Conference is an annual student conference where students will be able to network, go to workshops and participate in competitions.</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </section>

    <section class="cta" id='team'>
      <div class="cta-content">
        <div class="container">
          <h2>Meet our team</h2>
        </div>
      </div>
      <div class="overlay"></div>
    </section>
<section>
    <div class="container" id='calendar'>
        <div id='calendar' style="
                                background-color: rgba(255,255,255,0.2);
                                width: 900px;
                margin: 0 auto;
                padding-top: 100px;
                margin-top: 50px;
                margin-bottom:0px;
                height: auto;"></div>

                <div id="fullCalModal" class="modal fade" >
                    <div class="modal-dialog" >
                            <div class="modal-content">
                                 <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                                        <h4 id="modalTitle" class="modal-title"></h4><h6 id="modalStart"class="modal-title"></h6>
                                 </div>
                                <div id="modalBody" class="modal-body"></div>
                                    <div class="modal-footer">
                                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                            </div>
                    </div>
                </div>
    </div>
</section>
    <footer>
      <div class="container">
        <p>&copy; IEEE NYIT MA. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://t.me/nyit_ieee">Telegram</a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:ieeema@nyit.edu">Email</a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/ieee.nyit_ma/">Instagram</a>
          </li>
        </ul>
      </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js'></script>

<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>
<script class="cssdesk" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.0/fullcalendar.min.js" type="text/javascript"></script>

<script>
$(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'list,month,basicWeek,basicDay'
      },

      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [

                {% for i in events %}
        {
          {% spaceless %}
          title: '{{  i.title  }} ',
          day: '{{   i.start.date}}',
          //time:'{{i.start.time.hour |stringformat:"02d" }}:{{i.start.time.minute |stringformat:"02d" }}:{{i.start.time.minute |stringformat:"02d" }}:{{i.start.time.seconds |stringformat:"02d" }}',
          start: '{{   i.start.date.year}}-{{   i.start.date.month|stringformat:"02d" }}-{{   i.start.date.day|stringformat:"02d"}}T{{i.start.time.hour |stringformat:"02d" }}:{{i.start.time.minute |stringformat:"02d" }}:{{i.start.time.second |stringformat:"02d" }}',
          end: '{{   i.end.date.year}}-{{   i.end.date.month}}-{{   i.end.date.day|stringformat:"02d" }}',

          description: '{{ i.desc |linebreaks}}',
          {% endspaceless %}
          backgroundColor: '{{i.color}}'
        },
                {% endfor %}
      ],
        

    });

  });

</script>




    <!-- Custom scripts for this template -->
    <script src="{% static 'js/new-age.min.js' %}"></script>
    
    <script src="{% static 'js/main.js' %}"></script>
  </body>

</html>
